.head{
      
    background-color:aqua;
    border:solid;
     }
  
  
  .grid {
    background-color:black;
    display: flex;
    justify-content:baseline;
    
  }
  
  .camel {
    border: 1px solid black;
    width: 200px;
    height: 490px;
    background-color:#E8E5E4;
  }
  
  
  .chameleon {
    border: 1px solid black;
    width: 200px;
    height: 490px;
    background-color:#E8E5E4;
  }
  
  .pigeon {
    border: 1px solid black;
    width: 200px;
    height: 415px;
    background-color:#E8E5E4;
  }

  .teddybear {
    border: 1px solid black;
    width: 200px;
    height: 525px;
    background-color:#E8E5E4;
  }

   .panda {
    border: 1px solid black;
    width: 200px;
    height: 450px;
    background-color:#E8E5E4;
  }
  
  .cicada {
    border: 1px solid black;
    width: 200px;
    height: 575px;
    background-color:#E8E5E4;
  }
  
 
  
  
  